In [37]:
import nsepy as nse
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [38]:


# Function to create a DataFrame with stock metrics
def create_stock_metrics_df(stock_dict):
    data = []
    for stock_name, ticker_symbol in stock_dict.items():
        ticker = yf.Ticker(ticker_symbol)
        metrics = {
            'Stock': stock_name,
            'Ticker': ticker_symbol,
            'PE Ratio': ticker.info.get('trailingPE', 'N/A'),
            'EPS': ticker.info.get('trailingEps', 'N/A'),
            'Dividend Yield': ticker.info.get('dividendYield', 'N/A'),
            'Market Cap': ticker.info.get('marketCap', 'N/A'),
            '52-Week High': ticker.info.get('fiftyTwoWeekHigh', 'N/A'),
            '52-Week Low': ticker.info.get('fiftyTwoWeekLow', 'N/A'),
            '90-Day Moving Average': ticker.history(period="3mo")['Close'].mean(),
            '180-Day Moving Average': ticker.history(period="6mo")['Close'].mean(),
            'Volume': ticker.history(period="1d")['Volume'].sum()
            #'Debt-to-Equity Ratio': 'N/A'  # Placeholder, calculation needs to be done differently
        }
        data.append(metrics)
    df = pd.DataFrame(data)
    df.replace('N/A', pd.NA, inplace=True)
    return df

# Function to plot stock metrics using Plotly
def plot_stock_metrics(df, metric):
    fig = px.bar(df, x='Stock', y=metric, title=f'Stock {metric}', labels={'Stock': 'Stock', metric: metric})
    fig.show()


def plot_combination_chart(df):
    metrics_columns = df.columns[2:]  # Exclude 'Stock' and 'Ticker' columns
    normalized_df = df.copy()

    # Normalize the data (Min-Max Scaling)
    for metric in metrics_columns:
        min_val = df[metric].min()
        max_val = df[metric].max()
        normalized_df[metric] = (df[metric] - min_val) / (max_val - min_val)

    fig = go.Figure()

    for metric in metrics_columns:
        sorted_df = normalized_df.sort_values(by='Stock', ascending=True)
        fig.add_trace(go.Bar(
            x=sorted_df['Stock'],
            y=sorted_df[metric],
            name=metric
        ))

    fig.update_layout(
        barmode='group',  # Group bars side by side
        title='Normalized Stock Metrics for Nifty 50 Stocks',
        xaxis_title='Stock',
        yaxis_title='Normalized Metric Value',
        height=600,
        width=1200,
    )
    
    fig.show()

In [39]:
# Function to plot data for a given ticker
def plot_ticker(data, ticker_name,cols_to_plot=["Open", "High", "Low", "Close"],common_axis="Datetime"):
    # Creating a figure with subplots
    fig = make_subplots(specs=[[{"secondary_y": True}]])

    # Adding traces for the specified columns on the primary y-axis
    for col in cols_to_plot:
        fig.add_trace(go.Scatter(x=data[common_axis], y=data[col], mode='lines', name=col), secondary_y=False)

    # Adding a trace for the volume on the secondary y-axis
    fig.add_trace(go.Scatter(x=data[common_axis], y=data['Volume'], mode='lines', name='Volume'), secondary_y=True)

    # Updating the layout
    fig.update_layout(title=f'{ticker_name} Intraday Price Movement',
                      xaxis_title='Time')

    # Updating y-axis titles
    fig.update_yaxes(title_text='Price (INR)', secondary_y=False)
    fig.update_yaxes(title_text='Volume', secondary_y=True)

    # Displaying the plot
    fig.show()

In [40]:
nse_tickers = {
    "Tata_Motors": "TATAMOTORS.NS",
    # "NSE": "^NSEI",
    "Reliance_Industries": "RELIANCE.NS",
    "HDFC_Bank": "HDFCBANK.NS",
    "Infosys": "INFY.NS",
    "ICICI_Bank": "ICICIBANK.NS",
    "Hindustan_Unilever": "HINDUNILVR.NS",
    # "Kotak_Mahindra_Bank": "KOTAKBANK.NS",
    # "State_Bank_of_India": "SBIN.NS",
    # "Larsen_Toubro": "LT.NS",
    # "Axis_Bank": "AXISBANK.NS",
    # "Bajaj_Finance": "BAJFINANCE.NS",
    # "HCL_Technologies": "HCLTECH.NS",
    # "Maruti_Suzuki": "MARUTI.NS",
    # "Tata_Steel": "TATASTEEL.NS",
    # "Sun_Pharma": "SUNPHARMA.NS",
    # "NTPC": "NTPC.NS"
}

In [ ]:


# Fetch historical data and store in a dictionary
stock_data_dict     = {ticker: yf.Ticker(nse_tickers[ticker]).history(period="1d", interval="1m").reset_index() for ticker in nse_tickers}

# Create DataFrame 
df = create_stock_metrics_df(nse_tickers) 


#Plot data for each ticker
for ticker_name, data in stock_data_dict.items():
    plot_ticker(data, ticker_name)

# Plot a specific metric 
#plot_stock_metrics(df, 'Volume')
plot_all_stock_metrics(df)
plot_combination_chart(df)

In [36]:
ticker = yf.Ticker("TATAMOTORS.NS")
display(ticker.info)  # Company information
display(ticker.financials)  # Financial statements
display(ticker.balance_sheet)  # Balance sheet
display(ticker.cashflow)  # Cash flow statement
df

{'address1': 'Ahura Centre',
 'address2': '4th Floor 82 Mahakali Caves Road, MIDC Andheri (East)',
 'city': 'Mumbai',
 'zip': '400 093',
 'country': 'India',
 'phone': '91 22 6240 7101',
 'website': 'https://www.tatamotors.com',
 'industry': 'Auto Manufacturers',
 'industryKey': 'auto-manufacturers',
 'industryDisp': 'Auto Manufacturers',
 'sector': 'Consumer Cyclical',
 'sectorKey': 'consumer-cyclical',
 'sectorDisp': 'Consumer Cyclical',
 'longBusinessSummary': 'Tata Motors Limited designs, develops, manufactures, and sells various automotive vehicles. The company offers passenger cars; sports utility vehicles; intermediate and light commercial vehicles; small, medium, and heavy commercial vehicles; defense vehicles; pickups, wingers, buses, vans, and trucks; and electric vehicles, as well as related spare parts and accessories. It also manufactures engines for industrial applications, and aggregates comprising axles and transmissions for commercial vehicles; and factory automation equipment, as well as provides information technology and vehicle financing services. The company offers its products under the Tata, Daewoo, Harrier, Safari, Fiat, Nexon, Altroz, Punch, Tiago, Tigor, Jaguar, and Land Rover brands. It operates in India, China, the United States, the United Kingdom, rest of Europe, and internationally. It offers its products to fleet owners, transporters, government agencies, defense, public transport utilities, small and medium enterprises (SMEs), agriculture and rural segment, mining and construction industry, etc. The company was incorporated in 1945 and is headquartered in Mumbai, India.',
 'fullTimeEmployees': 91496,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Pathamadai Balachandran Balaji',
   'age': 55,
   'title': 'Group Chief Financial Officer',
   'yearBorn': 1969,
   'fiscalYear': 2024,
   'totalPay': 149174000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Maloy Kumar Gupta',
   'age': 53,
   'title': 'Compliance Officer & Company Secretary',
   'yearBorn': 1971,
   'fiscalYear': 2024,
   'totalPay': 14982000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Girish Arun Wagh',
   'age': 54,
   'title': 'President of Commercial Vehicles Business Unit & Executive Director',
   'yearBorn': 1970,
   'fiscalYear': 2024,
   'totalPay': 54825000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Petkar M. Rajendra',
   'age': 57,
   'title': 'CTO & President',
   'yearBorn': 1967,
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Rajesh  Kannan',
   'title': 'President and Chief Digital & Information Officer',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Namrata  Divekar',
   'title': 'Head of Treasury and Investor Relations',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Sudeep  Bhalla',
   'title': 'Head of Corporate Communications',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Shubhranshu  Singh',
   'title': 'Vice President of Marketing of Domestic & International business',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Sitaram  Kandi',
   'title': 'Chief Human Resource Officer',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. R.  Ramakrishnan',
   'age': 61,
   'title': 'Global Head of Customer Care',
   'yearBorn': 1963,
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 4,
 'boardRisk': 6,
 'compensationRisk': 8,
 'shareHolderRightsRisk': 5,
 'overallRisk': 7,
 'governanceEpochDate': 1735689600,
 'compensationAsOfEpochDate': 1735603200,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 763.6,
 'open': 769.9,
 'dayLow': 767.35,
 'dayHigh': 781.0,
 'regularMarketPreviousClose': 763.6,
 'regularMarketOpen': 769.9,
 'regularMarketDayLow': 767.35,
 'regularMarketDayHigh': 781.0,
 'dividendRate': 3.0,
 'dividendYield': 0.0039,
 'exDividendDate': 1718064000,
 'payoutRatio': 0.033299997,
 'fiveYearAvgDividendYield': 1.11,
 'beta': 1.618,
 'trailingPE': 8.601022,
 'volume': 8678662,
 'regularMarketVolume': 8678662,
 'averageVolume': 13145297,
 'averageVolume10days': 14762539,
 'averageDailyVolume10Day': 14762539,
 'marketCap': 2850475212800,
 'fiftyTwoWeekLow': 717.7,
 'fiftyTwoWeekHigh': 1179.0,
 'priceToSalesTrailing12Months': 0.64774585,
 'fiftyDayAverage': 776.044,
 'twoHundredDayAverage': 935.311,
 'currency': 'INR',
 'enterpriseValue': 3300222304256,
 'forwardPE': 10.781343,
 'profitMargins': 0.07576,
 'floatShares': 1874246759,
 'sharesOutstanding': 3681120000,
 'heldPercentInsiders': 0.4414,
 'heldPercentInstitutions': 0.25042,
 'impliedSharesOutstanding': 3681120000,
 'bookValue': 293.845,
 'priceToBook': 2.6352327,
 'lastFiscalYearEnd': 1711843200,
 'nextFiscalYearEnd': 1743379200,
 'mostRecentQuarter': 1727654400,
 'earningsQuarterlyGrowth': -0.112,
 'netIncomeToCommon': 333410893824,
 'trailingEps': 90.03,
 'lastSplitFactor': '5:1',
 'lastSplitDate': 1315785600,
 'enterpriseToRevenue': 0.75,
 'enterpriseToEbitda': 6.792,
 '52WeekChange': -0.067700386,
 'SandP52WeekChange': 0.24450636,
 'lastDividendValue': 3.0,
 'lastDividendDate': 1718064000,
 'exchange': 'NSI',
 'quoteType': 'EQUITY',
 'symbol': 'TATAMOTORS.NS',
 'underlyingSymbol': 'TATAMOTORS.NS',
 'shortName': 'TATA MOTORS LIMITED',
 'longName': 'Tata Motors Limited',
 'firstTradeDateEpochUtc': 662787900,
 'timeZoneFullName': 'Asia/Kolkata',
 'timeZoneShortName': 'IST',
 'uuid': 'ddba5579-685b-35a6-8ca9-fdc0ae8f12f6',
 'messageBoardId': 'finmb_874652',
 'gmtOffSetMilliseconds': 19800000,
 'currentPrice': 774.35,
 'targetHighPrice': 1300.0,
 'targetLowPrice': 712.0,
 'targetMeanPrice': 949.73334,
 'targetMedianPrice': 930.0,
 'recommendationMean': 2.16667,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 30,
 'totalCash': 535179984896,
 'totalCashPerShare': 155.607,
 'ebitda': 485882986496,
 'totalDebt': 1065489989632,
 'quickRatio': 0.491,
 'currentRatio': 0.939,
 'totalRevenue': 4400607657984,
 'debtToEquity': 95.362,
 'revenuePerShare': 1279.507,
 'returnOnAssets': 0.061079998,
 'returnOnEquity': 0.39181,
 'grossProfits': 1995944230912,
 'freeCashflow': 118380339200,
 'operatingCashflow': 602283573248,
 'revenueGrowth': -0.035,
 'grossMargins': 0.45356,
 'ebitdaMargins': 0.110410005,
 'operatingMargins': 0.07129,
 'financialCurrency': 'INR',
 'trailingPegRatio': None}

,2024-03-31,2023-03-31,2022-03-31,2021-03-31,2020-03-31
Tax Effect Of Unusual Items,-6554370000.0,1195840000.0,5479050000.0,-40059450000.0,NaN
Tax Rate For Calcs,0.3,0.2,0.3,0.3,NaN
Normalized EBITDA,673957900000.0,378818500000.0,253177900000.0,327282800000.0,NaN
Total Unusual Items,-21847900000.0,5979200000.0,18263500000.0,-133531500000.0,NaN
Total Unusual Items Excluding Goodwill,-21847900000.0,5979200000.0,18263500000.0,-133531500000.0,NaN
...,...,...,...,...,...
Salaries And Wages,NaN,NaN,308183100000.0,281931800000.0,308372800000.0
Gross Profit,1490464900000.0,1047343500000.0,2440451300000.0,817568900000.0,NaN
Cost Of Revenue,2859376300000.0,2381402400000.0,311901000000.0,1664062500000.0,NaN
Total Revenue,4349841200000.0,3428745900000.0,2752352300000.0,2481631400000.0,NaN
Operating Revenue,4349841200000.0,3428745900000.0,2752352300000.0,2481631400000.0,NaN

,2024-03-31,2023-03-31,2022-03-31,2021-03-31,2020-03-31
Ordinary Shares Number,3832241897.0,3829847221.0,3829055161.0,3828810661.0,NaN
Share Issued,3832241897.0,3829847221.0,3829055161.0,3828810661.0,NaN
Net Debt,610332300000.0,962735300000.0,1027680300000.0,1041937000000.0,NaN
Total Debt,1098104000000.0,1366134500000.0,1476990300000.0,1421197700000.0,NaN
Tangible Book Value,201219100000.0,-112881300000.0,-133122700000.0,-112886800000.0,NaN
...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,550320400000.0,513764200000.0,634452300000.0,650971900000.0,NaN
Other Short Term Investments,150172800000.0,194894700000.0,252862200000.0,333971800000.0,NaN
Cash And Cash Equivalents,400147600000.0,318869500000.0,381590100000.0,317000100000.0,NaN
Cash Equivalents,332238900000.0,236140600000.0,276806400000.0,316889000000.0,NaN
Cash Financial,67908700000.0,82728900000.0,104783700000.0,111100000.0,NaN

,2024-03-31,2023-03-31,2022-03-31,2021-03-31,2020-03-31
Free Cash Flow,365017300000.0,172923300000.0,-8855900000.0,87951100000.0,NaN
Repayment Of Debt,-504082600000.0,-634175200000.0,-448896100000.0,-342528100000.0,NaN
Issuance Of Debt,218235000000.0,444405100000.0,481748600000.0,504845200000.0,NaN
Issuance Of Capital Stock,818700000.0,37696000000.0,37685900000.0,26025100000.0,NaN
Capital Expenditure,-314136300000.0,-180956800000.0,-151684200000.0,-202054000000.0,NaN
...,...,...,...,...,...
Earnings Losses From Equity Investments,NaN,NaN,740600000.0,3789600000.0,10000000000.0
Gain Loss On Investment Securities,279200000.0,-881700000.0,-2065900000.0,-12718700000.0,NaN
Net Foreign Currency Exchange Gain Loss,-5375500000.0,37466100000.0,-8785100000.0,-43981200000.0,NaN
Gain Loss On Sale Of Business,NaN,NaN,NaN,0.0,0.0
Net Income From Continuing Operations,318067500000.0,26898700000.0,-113087600000.0,-142138000000.0,NaN

,Stock,Ticker,PE Ratio,EPS,Dividend Yield,Market Cap,52-Week High,52-Week Low,90-Day Moving Average,180-Day Moving Average,Volume
0,Tata_Motors,TATAMOTORS.NS,8.601022,90.03,0.0039,2850475212800,1179.00,717.70,798.988280,912.585432,8678662
1,Reliance_Industries,RELIANCE.NS,25.223063,50.21,0.0040,17138106499072,1608.80,1201.50,1279.824614,1376.062181,14116032
2,HDFC_Bank,HDFCBANK.NS,18.724356,88.23,0.0119,12635374354432,1880.00,1363.55,1759.578905,1707.415356,10605895
3,Infosys,INFY.NS,28.920965,66.68,0.0210,7987697549312,2006.45,1358.35,1890.805189,1874.240249,7527493
4,ICICI_Bank,ICICIBANK.NS,18.891409,66.12,0.0081,8818745409536,1362.35,970.15,1285.063280,1257.052013,11895661
5,Hindustan_Unilever,HINDUNILVR.NS,53.710490,43.66,0.0181,5510257442816,3035.00,2172.05,2454.828812,2625.433021,2762503
6,Kotak_Mahindra_Bank,KOTAKBANK.NS,16.458980,109.70,0.0011,3589740429312,1942.00,1543.85,1768.802341,1791.065541,4451507
7,State_Bank_of_India,SBIN.NS,9.556054,80.19,0.0182,6838935879680,912.00,600.65,816.328912,815.842129,11815191
8,Larsen_Toubro,LT.NS,35.780293,98.04,0.0080,4823818174464,3963.50,3175.05,3630.448437,3629.902749,2305388
9,Axis_Bank,AXISBANK.NS,11.553874,89.84,0.0010,3214665318400,1339.65,995.70,1128.303907,1160.912991,10261342
10,Bajaj_Finance,BAJFINANCE.NS,29.233109,248.34,0.0050,4491338317824,7824.00,6187.80,6921.390633,7001.617730,860816
11,HCL_Technologies,HCLTECH.NS,28.452929,62.99,0.0241,4854703456256,2012.20,1235.00,1882.011875,1791.685833,5361047
12,Maruti_Suzuki,MARUTI.NS,27.134682,445.64,0.0105,3801855557632,13680.00,9737.65,11332.964828,11909.974325,551130
13,Tata_Steel,TATASTEEL.NS,53.701675,2.38,0.0285,1594020724736,184.60,122.62,143.385312,149.907481,22139928
14,Sun_Pharma,SUNPHARMA.NS,38.307630,46.03,0.0077,4230738870272,1960.35,1290.00,1820.224218,1806.986218,2180146
15,NTPC,NTPC.NS,16.522842,19.70,0.0350,3156265926656,448.45,296.55,365.831185,385.997842,14864338